<h3>Product</h3>
<p>Name: <%= @product.name if @product.name %></p>
<!--
<% if productLiked? == TrueClass %>
  <a>unLike</a>
<% elseif productLiked? ==  FalseClass %>
  <a> Like <a>
  <% elseif %>
  <%= puts value = productLiked? %>

<% end %>
-->
